POSTGRES_DB=$POSTGRES_DB
POSTGRES_USER=$POSTGRES_USER
POSTGRES_PASSWORD=$POSTGRES_PASSWORD

AWS_ACCESS_KEY=$AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
AWS_REGION=$AWS_REGION
AWS_BUCKET=$AWS_BUCKET
AWS_WEBSITE_BUCKET=$AWS_WEBSITE_BUCKET

CLIENT_DOMAIN=$CLIENT_DOMAIN
STRIPE_SECRET_KEY=$STRIPE_SECRET_KEY
WEBHOOK_SECRET_KEY=$WEBHOOK_SECRET_KEY
STRIPE_PRICE_ID=$STRIPE_PRICE_ID
STRIPE_PRODUCT_ID=$STRIPE_PRODUCT_ID
